<?php echo $header; ?><?php echo $column_left; ?>

<?php

$hint = <<<EOT
<xmp id="container">
<div class="slider-header fadeInDown-1">
    Заголовок
</div>
<div class="big-text fadeInDown-1">
    Новая косметика
</div>
<div class="excerpt fadeInDown-2 hidden-xs">
    <span>Антицеллюлитный крем-гель с эффектом лифтинга</span>
</div>
<div class="button-holder fadeInDown-3">
    <a title="заголовок" href="ссылка на страницу" class="btn-lg btn btn-uppercase btn-primary shop-now-button">
        В магазин
    </a>
</div>
</xmp>
EOT;

?>

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-banner" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-banner" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name"><?php echo $entry_name; ?></label>
            <div class="col-sm-10">
              <input type="text" name="name" value="<?php echo $name; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
              <?php if ($error_name) { ?>
              <div class="text-danger"><?php echo $error_name; ?></div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                <?php if ($status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </div>
          </div>
          <br />
          <ul class="nav nav-tabs" id="language">
            <?php foreach ($languages as $language) { ?>
            <li><a href="#language<?php echo $language['language_id']; ?>" data-toggle="tab"><img src="language/<?php echo $language['code']; ?>/<?php echo $language['code']; ?>.png" title="<?php echo $language['name']; ?>" /> <?php echo $language['name']; ?></a></li>
            <?php } ?>
          </ul>
          <div class="tab-content">
            <?php $image_row = 0; ?>
            <?php foreach ($languages as $language) { ?>
            <div class="tab-pane" id="language<?php echo $language['language_id']; ?>">
              <table id="images<?php echo $language['language_id']; ?>" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-left"><?php echo $entry_title; ?></td>
                    <td class="text-left image_cell"><?php echo $entry_link; ?></td>
                    <td class="text-left image_cell"><?php echo $entry_image; ?></td>
                    <td class="text-left code_cell" style="display: none;" colspan="2"><?php echo $entry_code; ?></td>
                    <td class="text-right"><?php echo $entry_sort_order; ?></td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <?php if (isset($banner_images[$language['language_id']])) { ?>
                  <?php foreach ($banner_images[$language['language_id']] as $banner_image) { ?>
                  <tr id="image-row<?php echo $image_row; ?>">
                    
                    <td class="text-left">
                      <input type="text" name="banner_image[<?php echo $language['language_id']; ?>][<?php echo $image_row; ?>][title]" value="<?php echo $banner_image['title']; ?>" placeholder="<?php echo $entry_title; ?>" class="form-control" />
                      <?php if (isset($error_banner_image[$language['language_id']][$image_row])) { ?>
                        <div class="text-danger"><?php echo $error_banner_image[$language['language_id']][$image_row]; ?></div>
                      <?php } ?>
                    </td>
                    
                    <td class="text-left image_cell" style="width: 30%;"><input type="text" name="banner_image[<?php echo $language['language_id']; ?>][<?php echo $image_row; ?>][link]" value="<?php echo $banner_image['link']; ?>" placeholder="<?php echo $entry_link; ?>" class="form-control" /></td>
                    
                    <td class="text-center image_cell"><a href="" id="thumb-image-<?php echo $image_row; ?>" data-toggle="image" class="img-thumbnail"><img src="<?php echo $banner_image['thumb']; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a>
                      <input type="hidden" name="banner_image[<?php echo $language['language_id']; ?>][<?php echo $image_row; ?>][image]" value="<?php echo $banner_image['image']; ?>" id="input-image<?php echo $image_row; ?>" />
                    </td>
                    
                    <td class="left code_cell" style="display: none;" colspan="2">
                      <textarea class="form-control summernote" name="banner_image[<?php echo $language['language_id']; ?>][<?php echo $image_row; ?>][code]" cols="60" rows="7"><?php echo $banner_image['code']; ?></textarea><br/>
                      <a onclick="$(this).parent().children('textarea').val('');"><?php echo $text_empty; ?></a>
                      <?=$hint;?>
                    </td>
                    
                    <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[<?php echo $language['language_id']; ?>][<?php echo $image_row; ?>][sort_order]" value="<?php echo $banner_image['sort_order']; ?>" placeholder="<?php echo $entry_sort_order; ?>" class="form-control" /></td>
                    
                    <td class="text-left">
                      <button type="button" onclick="changeBannerType(this);" class="btn btn-primary" id="button_code"><i class="fa fa-code" aria-hidden="true"></i></button>
                      <button type="button" onclick="$('#image-row<?php echo $image_row; ?>, .tooltip').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                    </td>
                  </tr>
                  <?php $image_row++; ?>
                  <?php } ?>
                  <?php } ?>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="4"></td>
                    <td class="text-left"><button type="button" onclick="addImage('<?php echo $language['language_id']; ?>');" data-toggle="tooltip" title="<?php echo $button_banner_add; ?>" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <?php } ?>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
  <script type="text/javascript"><!--

function changeThead(tr) {
  var thead = $(tr).parents().children('thead');
  if ($(tr).hasClass('banner_code')) { 
    $(thead).find('.image_cell').hide();
    $(thead).find('.code_cell').show();
  } else {
    $(thead).find('.code_cell').hide();
    $(thead).find('.image_cell').show();
  }
}
function changeBannerType(button) {
  var tr = $(button).parents('tr');
  var thead = $(tr).parent().children('thead');
  if ($(button).attr('id') == 'button_code') {
    $(tr).find('.image_cell').hide();
    $(tr).find('.code_cell').show();
    $(tr).addClass('banner_code');
    $(button).html('<i class="fa fa-file-image-o" aria-hidden="true"></i>'); 
    $(button).attr('id', 'button_image'); 
  } else {
    $(tr).find('.code_cell').hide();
    $(tr).find('.image_cell').show();
    $(tr).removeClass('banner_code');
    $(button).html('<i class="fa fa-code" aria-hidden="true"></i>'); 
    $(button).attr('id', 'button_code'); 
  }
  changeThead(tr);
}

var image_row = <?php echo $image_row; ?>;
var hint = <?= json_encode($hint); ?>;

function addImage(language_id) {
  html  = '<tr id="image-row' + image_row + '">';
  html += '  <td class="text-left"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][title]" value="" placeholder="<?php echo $entry_title; ?>" class="form-control" /></td>';  
  html += '  <td class="text-left image_cell" style="width: 30%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][link]" value="" placeholder="<?php echo $entry_link; ?>" class="form-control" /></td>';  
  html += '  <td class="text-center image_cell"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="<?php echo $placeholder; ?>" alt="" title="" data-placeholder="<?php echo $placeholder; ?>" /></a><input type="hidden" name="banner_image[' + language_id + '][' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
  html += '  <td class="left code_cell" style="display: none;" colspan="2"> <textarea class="form-control summernote" name="banner_image['+ language_id +']['+ image_row +'][code]" cols="60" rows="7"></textarea><br/> <a onclick="$(this).parent().children(\'textarea\').val(\'\');"><?php echo $text_empty; ?></a>' + hint;
  html += '  <td class="text-right" style="width: 10%;"><input type="text" name="banner_image[' + language_id + '][' + image_row + '][sort_order]" value="" placeholder="<?php echo $entry_sort_order; ?>" class="form-control" /></td>';
  html += '  <td class="text-left"><button type="button" onclick="changeBannerType(this);" class="btn btn-primary" id="button_code"><i class="fa fa-code" aria-hidden="true"></i></button> <button type="button" onclick="$(\'#image-row' + image_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="<?php echo $button_remove; ?>" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';
  
  $('#images' + language_id + ' tbody').append(html);
  
  summernotes.init();

  image_row++;
}

//--></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script> 
</div>
<?php echo $footer; ?> 